In [1]:
import pandas as pd
import requests

# Read the file
with open('dests.txt', 'r') as f:
    destinations = [line.strip() for line in f]

# Google API key
api_key = 'Put_Here_The_Key'

# URL for the Google Distance Matrix API
distance_base_url = 'https://maps.googleapis.com/maps/api/distancematrix/json'

# URL for the Google Geocode API
geocode_base_url = 'https://maps.googleapis.com/maps/api/geocode/json'

# Define the parameters for the Google Distance Matrix API
distance_params = {
    'units': 'metric',
    'key': api_key,
}

# Define the parameters for the Google Geocode API
geocode_params = {
    'key': api_key,
}

# Define the dataframe to store the results
results_df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration', 'Longitude', 'Latitude'])

# Loop through the destinations and retrieve the information
for dest in destinations:
    # Set the destination as the target
    target = dest
    
    # Set the origin as Tel Aviv
    origin = 'Tel Aviv, Israel'
    
    # Set the destination parameter for the Google Distance Matrix API
    distance_params['origins'] = origin
    distance_params['destinations'] = dest
    
    # Send a GET request to the Google Distance Matrix API
    distance_resp = requests.get(distance_base_url, params=distance_params)
    distance_data = distance_resp.json()
    
    # Retrieve the distance and duration information from the response
    distance_km = distance_data['rows'][0]['elements'][0]['distance']['value'] / 1000
    duration = distance_data['rows'][0]['elements'][0]['duration']['text']
    
    # Set the address parameter for the Google Geocode API
    geocode_params['address'] = dest
    
    # Send a GET request to the Google Geocode API
    geocode_resp = requests.get(geocode_base_url, params=geocode_params)
    geocode_data = geocode_resp.json()
    
    # Retrieve the longitude and latitude information from the response
    longitude = geocode_data['results'][0]['geometry']['location']['lng']
    latitude = geocode_data['results'][0]['geometry']['location']['lat']
    
    # Add the results to the dataframe
    results_df = results_df.append({
        'Target': target,
        'Distance_km': distance_km,
        'Duration': duration,
        'Longitude': longitude,
        'Latitude': latitude
    }, ignore_index=True)

# Print the results dataframe
print(results_df)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3988\1602921152.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({
C:\Users\Admin\AppData\Local\Temp\ipykernel_3988\1602921152.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({
C:\Users\Admin\AppData\Local\Temp\ipykernel_3988\1602921152.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({
C:\Users\Admin\AppData\Local\Temp\ipykernel_3988\1602921152.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({

      Target  Distance_km          Duration  Longitude   Latitude
0   Istanbul     1815.227   21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4532.541    2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883    2 days 3 hours  14.514100  35.899237
3      Basel     4092.805    1 day 20 hours   7.588576  47.559599
4       Doha     2164.477  22 hours 39 mins  51.531040  25.285447

C:\Users\Admin\AppData\Local\Temp\ipykernel_3988\1602921152.py:63: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  results_df = results_df.append({

In [2]:
results_df

      Target  Distance_km          Duration  Longitude   Latitude
0   Istanbul     1815.227   21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4532.541    2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883    2 days 3 hours  14.514100  35.899237
3      Basel     4092.805    1 day 20 hours   7.588576  47.559599
4       Doha     2164.477  22 hours 39 mins  51.531040  25.285447

In [10]:
results_df.sort_values(by='Distance_km', ascending=[False]).head(3)

      Target  Distance_km        Duration  Longitude   Latitude
1  Amsterdam     4532.541  2 days 0 hours   4.904139  52.367573
3      Basel     4092.805  1 day 20 hours   7.588576  47.559599
2   Valletta     3792.883  2 days 3 hours  14.514100  35.899237